@font-face{
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf');
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin: 0;
    height: 100vh;
}

/* Header */

.header{
    width: 90%;
    margin: auto;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgheader{
    width: 70%;
}

.signup{
    order: 1;
    width: 10%;
    text-align: center;
    font-size: 1.2em;
    color: #0065FC;
}

.menu ul{
    display: flex;
    width: 20%;
    margin: 0;
    padding: 0;
}

.menu li{
    list-style: none;
    padding: 2em;
    border-top: 3px transparent solid;
    font-size: 1.2em;
}

.menu a{
    color: inherit;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

.menu li:hover{
    color: #0065FC;
    border-top: 3px #0065FC solid;
}

/* Nouvelles règles (header) pour les écrans avec 700px de large maximum */

@media all and (max-width: 700px){
    .header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px 0;
    }

    .imgheader{
        width: 40%;
        margin-bottom: 10px;
    }

    .signup{
        width: 50%;
        order: 0;
        text-align: right;
        margin-bottom: 10px;
    }

    .menu{
        margin: 0;
        width: 100%;
        display: flex;
    }

    .menu ul{
        width: 100%;
    }

    .menu li{
        border-bottom: 3px #F2F2F2 solid;
        width: 50%;
        padding: 15px 0px;
        text-align: center;
    }

    .menu li:hover{
        color: #0065FC;
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }
}
/* Section Recherche */

.search{
    width: 90%;
    margin: auto;
}

.title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.title+p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

/* Barre de recherche */

.searchbar{
    display: flex;
}

.searchbar>i{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 20px;
}    

.searchbar input{
    border: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    padding-left: 15px;
}

.searchbar input:focus{
    outline: none;
}

.button{
    background-color: #0065FC;
    color: white;
    padding: 0 20px;
    border: solid 1px #DEEBFF;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

/* Nouvelles règles (barre de recherche) pour les écrans avec 701px de large minimum */

@media all and (min-width: 701px){
    .iconsearch{
        display: none;
    }
}

/* Nouvelles règles (barre de recherche) pour les écrans avec 700px de large maximum */

@media all and (max-width: 700px){
    .button{
        display: none;
    }

    .iconsearch{
        background-color: #0065FC;
        color: white;
        border-radius: 15px 15px 15px 15px;
        padding: 15px 20px;
    }
}

/* Filtre */

.submenu{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.titlefilter{
    margin-right: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.95em;
}

.groupfilter{
    display: flex;
    margin-top: 10px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: -2px;
    margin-right: 15px;
}

.filtername{
    margin-right: 15px;
    font-weight: bold;
}

.filter:hover{
    background-color: #f4f8ff;
    font-size: 1.2em;
}

/* Nouvelles règles (Filtre) pour les écrans avec 700px de large maximum */

@media all and (max-width: 700px){
    .submenu{
        display: flex;
        flex-flow:  wrap;
    }

    .groupfilter{
        display: flex;
        flex-flow: row wrap;
    }
}

/* info resultat de la recherche */

.infoResult{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.infoResult i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    height: 30px;
    width: 30px;
    border: solid 2px #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
}

/* Section/aside herbergement */

#hosting{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#hosting figcaption{
    color: initial;
}

.fa-star[data-active="true"]{
    color: #0065FC;
}

.fa-star[data-active="false"]{
    color: #F2F2F2;
}

/* Hebergement */

.hosting{
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    width: 63%;
    height: auto;
}

.hostingcontainer{
    width: 90%;
    margin: 60px auto;
}

.hostingcontainer h1{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 40px;
}

.hostingmore p{
    font-size: 1.3em;
    margin-top: 0px;
    font-weight: bold;
}

.mosaic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.squaremosaic{
    background-color: white;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px rgba(53, 52, 52, 0.452);
}

.hosting figure{
    margin: 5px;
}

.squaremosaic figcaption{
    padding-left: 10px;
    padding-bottom: 5px;
}

.squaremosaic h3{
    margin: 5px 0;
}

.squaremosaic p{
    margin: 10px 0;
}

.hosting img{
     width: 100%;
     height: 150px;
     object-fit: cover;
     border-radius: 20px 20px 0px 0px;
}

/* aside Populaire */

.popularity{
    background-color: #F2F2F2;
    border-radius: 3%;
    width: 35%;
}

.popularitycontainer{
    width: 90%;
    margin: 40px auto;
}

.popularitycontainer h2{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 30px;
}

.titlepopularity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlepopularity i{
    padding-right: 20px;
    font-weight: 900;
}

.popularitysquaremosaic{
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 40px;
    
}

.popularitysquaremosaic figure{
    display: flex;
    padding: 5px;
    margin: 0;
}

.popularitysquaremosaic figcaption{
    margin: 1px 20px;
}

.popularitysquaremosaic h3{
    margin: 15px 0 0 0;
}

.popularitysquaremosaic p{
    margin: 10px 0px 50px 0px;
}

.popularitysquaremosaic img{
    width: 40%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

/* Nouvelles règles (Hébergement) pour les écrans avec 700px de large maximum */

@media all and (max-width: 900px){
    #hosting{
        flex-direction: column-reverse;
        width: 100%;
    }

    .hosting{
        width: 100%;
        border-radius: 0;
        background-color: initial;
    }

    .mosaic{
        display: flex;
        flex-direction: column;
    }

    .squaremosaic{
        width: 100%;
    }

    .popularity{
        width: 100%;
        border-radius: 0;
    }
}

/* Section activités */

#activities{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

#activities h1{
    width: 100%;
}

#activities img{
    width: 10%;
}

/* Footer */

.footer{
    background-color: #F2F2F2;
}

.footercontainer{
    display: flex;
    width: 90%;
    margin: auto;
}

.footercontainer h3{
    padding-bottom: 5px;
}

.footercontainer ul{
    padding: 0;
}

.footercontainer li{
    list-style: none;
    display: flex;
    padding-bottom: 15px;
}

.footeritem{
    color: inherit;
}

.about{
    width: 30%;
    padding: 30px 0;
    font-size: 0.9em;
}

.ourhosting{
    width: 30%;
    padding: 30px 0;
    font-size: 0.9em;
}

.assistance{
    width: 30%;
    padding: 30px 0;
    font-size: 0.9em;
}

/* Nouvelles règles (footer) pour les écrans avec 700px de large maximum */

@media all and (max-width: 900px){
    .footercontainer{
        display: flex;
        flex-direction: column;
        padding: 25px 0;
    }

    .about{
        padding: 0;
        width: 100%;
    }

    .ourhosting{
        padding: 0;
        width: 100%;
    }

    .assistance{
        padding: 0;
        width: 100%;
    }

}